@import "~bootstrap/scss/bootstrap.scss";

@import "./components/site-header.scss";
@import "./components/list-grid.scss";
@import "./components/card.scss";

.nav-item {
	margin-left: 1em;
	margin-right: 1em;

	& .active {
		font-weight: bold;
	}
}
