.site-header {
	background: #ffffff;
	position: sticky;
	top: 0;
	width: 100%;
	margin-bottom: 2em;
	box-shadow: 0 0 4px #00000022;
	padding: 1em;
	display: flex;
	justify-content: space-between;

	&__logo {
		a {
			text-decoration: none;
			color: #0000aa;
		}
	}

	&__menu {
		margin-left: auto;
	}
}
